{% extends('base.html.twig') %}

{% block body %}

    <div>
        {{ form(form) }}
        <a href="{{ path('company') }}">
            <button>Go back</button>
        </a>
    </div>

{% endblock %}