{% extends('base.html.twig') %}

{% block body %}


    <a href="{{ path('company') }}">
        <button>Go to company management</button>
    </a>

    <a href="{{ path('create_candidate') }}">
        <button>Create your candidate account</button>
    </a>
    <a href="{{ path('connect_candidate') }}">
        <button>Connect to your candidate account</button>
    </a>

{% endblock %}